body {
    background: linear-gradient(145deg, rgb(119, 46, 195), rgb(58, 18, 153));
  height: 100vh;
  overflow: hidden;
}

.star {
    position: absolute;
    z-index: 2;
    color: black;
    font-size: 1rem;
    animation-fill-mode: forwards;
    pointer-events: none;

    z-index: 2;
}



